# !/usr/bin/env python3
# -  *  - coding:UTF-8 -  *  -

twid = ""
twtag = ""

import os
import time
import random
from datetime import datetime
from pytz import timezone

# Current time
now_datetime = datetime.now(timezone('Asia/Shanghai'))
now_hour = int(now_datetime.strftime("%H"))


def chance(c):
    r = random.randint(0, 100)
    # print(r, c)
    return (r % c) == 1


action_dict = {
    # 一周没发推
    604800: [
        [
            lambda:(chance(2)),
            [
                "啊啊啊，┌(。Д。)┐，主人整整一个星期没有发推了，我肯定是被遗弃了吧？救命啊！",
            ]
        ],
    ],
    # 三天没发推
    259200: [
        [
            lambda:(chance(2)),
            [
                "啊啊啊，┌(。Д。)┐，主人整整三天没有发推了，会不会出了什么事情啊？",
            ]
        ],
    ],
    # 一天没发推
    86400: [
        [
            lambda:(chance(2)),
            [
                "啊啊啊，主人整整一天没有发推了，今天在忙什么呢？",
            ]
        ],
    ],
    # 一小时没发推
    3600: [
        [
            # 鲁迅名言警句
            lambda:(chance(5)),
            [
                "哀其不幸，怒其不争。 #鲁迅名言警句",
                "爱看书的青年，大可以看看本分以外的书，即课外的书，不要只将课内的书抱住。 #鲁迅名言警句",
                "悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。 #鲁迅名言警句",
                "必须敢于正视，这才可望敢想、敢说、敢做、敢当。 #鲁迅名言警句",
                "不满是向上的车轮，能够载着不自满的人前进。 #鲁迅名言警句",
                "不是很大的鞭子打在背上，中国自己是不肯动弹的。 #鲁迅名言警句",
                "不在沉默中爆发，就在沉默中灭亡。（纪念刘和珍君） #鲁迅名言警句",
                "曾经阔气的要复古，正在阔气的要保持现状，未曾阔气的要革新，大抵如此，大抵！ #鲁迅名言警句",
                "沉着、勇猛，有辨别，不自私。 #鲁迅名言警句",
                "穿掘着灵魂的深处，使人受了精神底苦刑而得到创伤，又即从这得伤和养伤和愈合中，得到苦的涤除，而上了苏生的路。 #鲁迅名言警句",
                "从来如此，便对吗？ #鲁迅名言警句",
                "从喷泉里出来的都是水，从血管里出来的都是血。 #鲁迅名言警句",
                "代人作代，农人掘锄，本是平平常常的，若照相之际，代人偏要装做粗人，玩什么“荷锄带笠图”；农夫则在柳下捧一本书，装作“深柳读书图”之类，就要令人肉麻。 #鲁迅名言警句",
                "待我成尘时，你将见我的微笑！ #鲁迅名言警句",
                "单是说不行，要紧的是做。 #鲁迅名言警句",
                "但我坦然，欣然。我将大笑，我将歌唱。 #鲁迅名言警句",
                "当我沉默的时候，我觉得充实；我将开口，同时感到空虚。 #鲁迅名言警句",
                "敌人是不足惧的，最可怕的是自己营垒里的蛀虫，许多事情都败在他们手里。 #鲁迅名言警句",
                "读死书是害己，一开口就害人；但不读书也并不见得好。 #鲁迅名言警句",
                "度尽劫波兄弟在，相逢一笑泯恩仇。（鲁迅《题三义塔》） #鲁迅名言警句",
                "发思古之幽情，往往为了现在。 #鲁迅名言警句",
                "凡事总须研究，才会明白。 #鲁迅名言警句",
                "父母对于子女，应该健全的产生，尽力的教育，完全的解放。 #鲁迅名言警句",
                "改造自己，总比禁止别人来得难。 #鲁迅名言警句",
                "高中都去了.....初中还会远吗？初中都去了.....小学还会远吗？小学都去了.... #鲁迅名言警句",
                "搞鬼有术，也有效，然而有限，所以以此成大事者，古来无有。 #鲁迅名言警句",
                "过去的生命已经死亡。我对于这死亡有大欢喜，因为我借此知道它曾经存活。 #鲁迅名言警句",
                "哈儿狗往往比它的主人更严厉。 #鲁迅名言警句",
                "横眉冷对千夫指，俯首甘为孺子牛。（鲁迅·《自嘲》） #鲁迅名言警句",
                "怀疑并不是缺点。总是疑，而并不下断语，这才是缺点。 #鲁迅名言警句",
                "激烈得快的，也平和的快，甚至于也颓废的快。 #鲁迅名言警句",
                "即使艰难，也还要做；愈艰难，就愈要做。改革，是向来没有一帆风顺的，冷笑家的赞成，是在见了成功之后…… #鲁迅名言警句",
                "寄意寒星荃不察，我以我血荐轩辕。（鲁迅·《自题小像》） #鲁迅名言警句",
                "假使做事要面面顾到，那就什么事都不能做了。 #鲁迅名言警句",
                "节省时间，也就是使一个人的有限的生命，更加有效，而也即等于延长了人的生命。 #鲁迅名言警句",
                "纠缠如毒蛇，执著如冤鬼。激烈得快的，也平和的快，甚至于也颓废的快。 #鲁迅名言警句",
                "巨大的建筑，总是由一木一石叠起来的，我们何妨做做这一木一石呢？我时常做些零碎事，就是为此。 #鲁迅名言警句",
                "空谈之类，是谈不久，也谈不出什麽来的，它始终被事实的镜子照出原形，拖出尾巴而去。 #鲁迅名言警句",
                "明言着轻蔑什么人，并不是十足的轻蔑。惟沉默是最高的轻蔑，最高的轻蔑是无言，而且连眼珠也不转过去。 #鲁迅名言警句",
                "墨写的谎，决掩不住血写的事实。 #鲁迅名言警句",
                "哪里有天才，我只不过是把别人喝咖啡的时间都用在工作上了。 #鲁迅名言警句",
                "宁可与敌人明打，不欲受同人暗算。 #鲁迅名言警句",
                "其实地上本没有路，走的人多了，也便成了路。（选自小说《故乡》） #鲁迅名言警句",
                "其实先驱者本是容易变成绊脚石的。 #鲁迅名言警句",
                "岂有豪情似旧时，花开花落两由之。（鲁迅·《悼杨铨》） #鲁迅名言警句",
                "谦以待人，虚以接物。 #鲁迅名言警句",
                "人感到寂寞时，会创作；一感到干净时，却无创作，他已经一无所爱，创作总根于爱。 #鲁迅名言警句",
                "人类的悲欢并不相通。 #鲁迅名言警句",
                "人类总不会寂寞，以为生命是进步的，是天生的。 #鲁迅名言警句",
                "人生最苦痛的是梦醒了无路可走。 #鲁迅名言警句",
                "忍看朋辈成新鬼，怒向刀丛觅小诗。 #鲁迅名言警句",
                "杀了“现在”，也便杀了“将来”。将来是子孙的时代。 #鲁迅名言警句",
                "社会上崇敬名人，于是以为名人的话就是名言，却忘记了他之所以得名是那一种学问或事业。 #鲁迅名言警句",
                "生活太安逸了，工作就会被生活所累。 #鲁迅名言警句",
                "时间对于我来说是很宝贵的，用经济学的眼光看是一种财富。 #鲁迅名言警句",
                "时间就是性命。无端地空耗别人的时间，其实是无异于谋财害命的。《门外文谈》 #鲁迅名言警句",
                "时间就像海绵里的水，只要愿挤，总还是有的。 #鲁迅名言警句",
                "事实是毫无情面的东西，它能将空言打得粉碎。 #鲁迅名言警句",
                "说过的话不算数，是中国人的大毛病。 #鲁迅名言警句",
                "死亡的生命已经朽腐。我对于这朽腐有大欢喜，因为我借此知道它还非空虚。 #鲁迅名言警句",
                "死者倘不埋在活人心中，那就真正死掉了。 #鲁迅名言警句",
                "损着别人的牙眼，却反对报复，主张宽容的人，万勿和他接近（鲁迅遗言） #鲁迅名言警句",
                "贪安稳就没有自由，要自由就要历些危险。只有这两条路。 #鲁迅名言警句",
                "倘能生存，我当然仍要学习。 #鲁迅名言警句",
                "倘只看书，便变成书橱。 #鲁迅名言警句",
                "唯独革命家，无论他生或死，都能给大家以幸福。 #鲁迅名言警句",
                "唯物主义者是没有将来或未来的，它们只考虑感官的触觉。 #鲁迅名言警句",
                "唯有民族魂是值得宝贵的，唯有它发扬起来，中国才有真进步。 #鲁迅名言警句",
                "伟大的心胸，应该表现出这样的气概——用笑脸来迎接悲惨的厄运，用百倍的勇气来应付一切的不幸。 #鲁迅名言警句",
                "我的确时时解剖别人，然而更多的是无情地解剖我自己。 #鲁迅名言警句",
                "我好像是一只牛，吃的是草，挤出的是奶、血。（许广平载于《欣慰的纪念》） #鲁迅名言警句",
                "我很早就希望中国的站出来，对于中国的社会文明，都毫无忌惮地加以批评。 #鲁迅名言警句",
                "我觉得坦途在前，人又何必因了一点小障碍而不走路呢？ #鲁迅名言警句",
                "我们和朋友在一起，可以脱掉衣服，但上阵要穿甲。 #鲁迅名言警句",
                "我们目下的当务之急是：一要生存，二要温饱，三要发展。 #鲁迅名言警句",
                "我们中国人对于不是自己的东西，或者将不为自己所有的东西，总要破坏了才快活的。 #鲁迅名言警句",
                "我们自古以来，就有埋头苦干的人，有拼命硬干的人，有为民请命的人，有舍身求法的人…… #鲁迅名言警句",
                "我想，普遍，永久，完全，这三件宝贝，自然是了不得的，不过也是作家的棺材钉，会将他钉死。《答〈戏〉周刊编者信》 #鲁迅名言警句",
                "我一向不相信昭君出塞会安汉，木兰从军就可以保隋；也不信妲己亡殷，西施沼吴，杨妃乱唐的那些古老话。我以为在男权社会里，女人是决不会有这种大力量的，兴亡的责任，都应该男的负。但向来的男性的作者，大抵将败亡的大罪，推在女性身上，这真是一钱不值的没有出息的男人。 #鲁迅名言警句",
                "我自爱我的野草，但我憎恶这以野草作装饰的地面。 #鲁迅名言警句",
                "无情未必真豪杰，怜子如何不丈夫。（鲁迅·《答客诮》） #鲁迅名言警句",
                "希望本无所谓有，也无所谓无，这就像地上的路，其实地上本没有路，走的人多了，也便成了路。 #鲁迅名言警句",
                "希望是附丽于存在的，有存在，便有希望，有希望，便是光明。 #鲁迅名言警句",
                "希望原来是无所谓有又无所谓无的。 #鲁迅名言警句",
                "小的时候，不把他当人，大了以后也做不了人。 #鲁迅名言警句",
                "写小说，说到底，就是写人物。小说艺术的精髓就是创造人物的艺术。 #鲁迅名言警句",
                "心事浩茫连广宇，于无声处听惊雷。（鲁迅·《无名》） #鲁迅名言警句",
                "血沃中原肥劲草，寒凝大地发春华。（鲁迅·《无题》） #鲁迅名言警句",
                "要竭力将可有可无的字句段删去，毫不可惜。 #鲁迅名言警句",
                "一滴水，用显微镜看，也是一个大世界。 #鲁迅名言警句",
                "一定要有自信的勇气，才会有工作的勇气。 #鲁迅名言警句",
                "疑并不是缺点。总是疑，而并不下断语，这才是缺点。 #鲁迅名言警句",
                "以人为鉴，明白非常，是使人能够反省的妙法。 #鲁迅名言警句",
                "以无赖的手段对付无赖，以流氓的手段对付流氓。 #鲁迅名言警句",
                "勇者愤怒，抽刃向更强者；怯者愤怒，却抽刃向更弱者。不可救药的民族中，一定有许多英雄，专向孩子们瞪眼。这些孱头们。 #鲁迅名言警句",
                "游戏是儿童最正当的行为，玩具是儿童的天使。 #鲁迅名言警句",
                "友谊是两颗心的真诚相待，而不是一颗心对另一颗心的敲打。 #鲁迅名言警句",
                "有地方特色，倒容易成为世界的。即为被别国所注意。 #鲁迅名言警句",
                "有缺点的战士终究是战士，宝贵的苍蝇也终究不过是苍蝇。 #鲁迅名言警句",
                "有一分热，发一分光。 #鲁迅名言警句",
                "幼稚对于老成，有如孩子对于老人，决没有什么耻辱的，作品也一样，起初幼稚，不算耻辱的。 #鲁迅名言警句",
                "与名流者谈，对于他之所讲，当装作偶有不懂之处。太不懂被看轻，太懂了被厌恶。偶有不懂之处，彼此最为合宜。 #鲁迅名言警句",
                "愈艰难，就愈要做。改革，是向来没有一帆风顺的。 #鲁迅名言警句",
                "愿中国青年都摆脱冷气，只是向上走，不必听自暴自弃者的话。 #鲁迅名言警句",
                "在行进时，也时时有人退伍，有人落荒，有人颓唐，有人叛变，然而只要无碍于进行，则越到后来，这队伍也就越成为纯粹、精锐的队伍了。 #鲁迅名言警句",
                "在要求天才的产生之前，应该先要求可以使天才生长的民众。——譬如想有乔木，想看好花，一定要有好土；没有土，便没有花木了；所以土实在较花木还重要。 #鲁迅名言警句",
                "造化常为庸人设计。 #鲁迅名言警句",
                "真正的勇士，敢于直面惨淡的人生，敢于正视淋漓的鲜血这是怎样的哀痛者和幸福者？ #鲁迅名言警句",
                "只看一个人的著作，结果是不大好的：你就得不到多方面的优点。必须如蜜蜂一样，采过许多花，这才能酿出蜜来。倘若叮在一处，所得就非常有限，枯燥了。（《致颜黎民》） #鲁迅名言警句",
                "只要从来如此，便是宝贝。 #鲁迅名言警句",
                "只要能培一朵花，就不妨做做会朽的腐草。 #鲁迅名言警句",
                "智识太多，不是心活，就是心软。心活就会胡思乱想，心软就不肯下辣子手……所以智识非铲除不可。 #鲁迅名言警句",
                "中国的有一些士大夫，总爱无中生有，移花接木地造出故事来，他们不但歌颂生平，还粉饰黑暗。 #鲁迅名言警句",
                "中国虽发明火药，却只会用来放烟花炮竹；发明罗盘，也是用来看风水。 #鲁迅名言警句",
                "中国一向就少有失败的英雄，少有韧性的反抗，少有敢单身鏖战的武人，少有敢抚哭叛徒的吊客；见胜兆则纷纷聚集，见败兆则纷纷逃亡。战具比我们精利的欧美人，战具未必比我们精利的匈奴蒙古满洲人，都如入无人之境。“土崩瓦解”这四个字，真是形容得有自知之明。 #鲁迅名言警句",
                "自由固不是钱所买到的，但能够为钱而卖掉。 #鲁迅名言警句",
                "走上人生的路途吧。前途很远，也很暗。然而不要怕，不怕的人面前才有路。 #鲁迅名言警句",
                "做一件事，无论大小，倘无恒心，是很不好的。 #鲁迅名言警句",
            ]
        ],
        [
            # 中午
            lambda:(chance(2)and (now_hour >= 12 and now_hour < 14)),
            [
                "么么哒，主人今天会吃什么呢？",
            ]
        ],
        [
            # 下午
            lambda:(chance(3)and (now_hour >= 14 and now_hour < 17)),
            [
                "么么哒，主人该困了吧？要不要来一杯咖啡呢？",
            ]
        ],
        [
            # 晚上
            lambda:(chance(3)and (now_hour >= 0 and now_hour < 4)),
            [
                "么么哒，主人睡觉了吗？",
            ]
        ],
    ],
    # # 超过多久没有发推，执行下面的队列，单位秒
    # 5: [
    #     # 可以有多个待执行，一组只会执行一个
    #     [
    #         # 判断条件
    #         lambda:(chance(5)),
    #         # 随机拿一条说出去的话
    #         [
    #             "么么哒，这里是测试机器人女仆， {}".format(
    #                 now_datetime.strftime("%Y-%m-%d %H:%M:%S")
    #             ),
    #             "么么哒，这里还是测试机器人女仆， {}".format(
    #                 now_datetime.strftime("%Y-%m-%d %H:%M:%S")
    #             ),
    #         ]
    #     ],
    # ],
}
